{% extends 'CoreBundle:layout:2col.html.twig' %}

{%  block header %}
    Create a user
{% endblock %}

{% block main %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <footer class="form__buttons">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Create</button>
    </footer>
    {{ form_end(form) }}

{% endblock %}

{% block nav %}
    <ul>
        <li>
            <a href="{{ path('user_index') }}"><i class="material-icons" role="presentation">arrow_back</i>Back to users</a>
        </li>
    </ul>
{% endblock %}