{% extends 'CoreBundle::admin.html.twig' %}

{% block body %}

    <div class="page-header mdl-color--green-100 mdl-color-text--blue-grey-800">
        <h1 class="mdl-typography--display-2">Dashboard</h1>
    </div>

{% endblock %}
